{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="content">
    <div class="section">
        <h2>Сотрудники</h2>
        <div class="filters section">
            <div class="search-box">
                <input type="text" placeholder="Поиск сотрудников..." id="employee-search">
            </div>
        </div>
        <div class="employees-list">
            {% for employee in page_obj %}
                <div class="employee-card working">
                    <div class="employee-info">
                        <h3>{{ employee.last_name }} {{ employee.first_name }}</h3>
                        <p>{{ employee.job_title}}</p>
                        {% if employee.group_job__title %}<p>{{ employee.group_job__title }}</p>{% endif %}
                    </div>
                    <div class="employee-actions">
                        <a href="{% url 'users:profile' employee.username %}">
                            <button class="profile-btn">Профиль</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
        <div class="pagination">
            <nav>
                <ul>

                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-arrow" title="Предыдущая страница">
                            ←
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="#" class="pagination-arrow" title="Предыдущая страница" disabled>
                            ←
                        </a>
                    </li>
                {% endif %}
                
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li>
                        <span>{{ i }}</span>
                    </li>
                    {% elif i >= page_obj.number|add:"-1" and i <= page_obj.number|add:"1" %}
                    <li>
                        <a href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="pagination-arrow" title="Следующая страница">
                            →
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="#" class="pagination-arrow" title="Следующая страница" disabled>
                            →
                        </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</section>
<script src="{% static 'js/groups_detail.js' %}"></script>
{% endblock %}