{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="content">
    <div class="section">
        <h2>Сотрудники</h2>
        <div class="filters section">
            <div class="search-box">
                <input type="text" placeholder="Поиск сотрудников..." id="employee-search">
            </div>
        </div>
        <div class="employees-list">
            {% for employee in employees %}
                <div class="employee-card working">
                    <div class="employee-info">
                        <h3>{{ employee.last_name }} {{ employee.first_name }}</h3>
                        <p>{{ employee.job_title}}</p>
                        {% if employee.group_job__title %}<p>{{ employee.group_job__title }}</p>{% endif %}
                    </div>
                    <div class="employee-actions">
                        <a href="{% url 'users:profile' employee.username %}">
                            <button class="profile-btn">Профиль</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<script src="{% static 'js/groups_detail.js' %}"></script>
{% endblock %}