{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section">
    <a href="{% url 'users:profile' request.resolver_match.kwargs.username %}" class="compact-btn">Назад в профиль</a>
</div>
<div class="section">
    <h2 >Отпуска</h2>
    {% regroup holidays by year as year_list %}
    {% for holiday in year_list %}
        <h2>{{ holiday.grouper }}</h2>
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Период</th>
                    <th>Дней</th>
                </tr>
            </thead>
            <tbody>
                {% for period in holiday.list %}
                <tr>
                    <td>{{ period.first_day|date:"d.m.Y" }} - {{ period.last_day|date:"d.m.Y" }}</td>
                    <td>{{ period.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock %}