{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="section">
        <h2>Отпуска</h2>
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Период</th>
                    <th>Дней</th>
                </tr>
            </thead>
            <tbody>
                {% for holiday in holidays %}
                <tr>
                    <td>{{ holiday.first_day|date:"d.m.Y" }} - {{ holiday.last_day|date:"d.m.Y" }}</td>
                    <td>{{ holiday.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}