{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="section">
        <h2>Мой профиль</h2>
        <div class="info-blocks">
            <div class="info-block">
                <h3>Личная информация</h3>
                <p><strong>ФИО:</strong> {{ employee.last_name }} {{ employee.first_name }}</p>
                <p><strong>Должность:</strong> {{ employee.job_title }}</p>
                <p><strong>Группа:</strong>
                    {% if group %}
                        <a href="{% url 'users:groups_detail' group.id %}">
                            <button class="profile-btn">{{ group.title }}</button>
                        </a>
                    {% else %}
                        Группа отсутствует
                    {% endif %}
                </p>
            </div>
            
            <div class="info-block">
                <h3>Контактная информация</h3>
                <p><strong>Email:</strong> {{ employee.email }}</p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>График работы на {{ month }} 2025</h2>
        <form method="get" class="compact-filter">
            <select id="month" name="month" class="compact-select">
                <option value="">Выбрать месяц</option>
                <option value="1" {% if request.GET.month == '1' %}selected{% endif %}>Январь</option>
                <option value="2" {% if request.GET.month == '2' %}selected{% endif %}>Февраль</option>
                <option value="3" {% if request.GET.month == '3' %}selected{% endif %}>Март</option>
                <option value="4" {% if request.GET.month == '4' %}selected{% endif %}>Апрель</option>
                <option value="5" {% if request.GET.month == '5' %}selected{% endif %}>Май</option>
                <option value="6" {% if request.GET.month == '6' %}selected{% endif %}>Июнь</option>
                <option value="7" {% if request.GET.month == '7' %}selected{% endif %}>Июль</option>
                <option value="8" {% if request.GET.month == '8' %}selected{% endif %}>Август</option>
                <option value="9" {% if request.GET.month == '9' %}selected{% endif %}>Сентябрь</option>
                <option value="10" {% if request.GET.month == '10' %}selected{% endif %}>Октябрь</option>
                <option value="11" {% if request.GET.month == '11' %}selected{% endif %}>Ноябрь</option>
                <option value="12" {% if request.GET.month == '12' %}selected{% endif %}>Декабрь</option>
            </select>
            <button type="submit" class="compact-btn">Применить</button>
        </form>
        <div class="calendar">
            
            <div class="weekdays" id="week-days"></div>
            
            <div class="days-grid" id="calendar-days"></div>
                <div class="calendar-legend">
                <div class="legend-item legend-day-shift">
                    <div class="legend-color"></div>
                    <span>Дневная смена</span>
                </div>
                <div class="legend-item legend-night-shift">
                    <div class="legend-color"></div>
                    <span>Ночная смена</span>
                </div>
                <div class="legend-item legend-day-off">
                    <div class="legend-color"></div>
                    <span>Выходной</span>
                </div>
                <div class="legend-item legend-vacation">
                    <div class="legend-color"></div>
                    <span>Отпуск</span>
                </div>
        </div>
    </div>

        <div class="section">
            <h2>Отпуск на 2025 год</h2>
            <table class="schedule-table">
                <thead>
                    <tr>
                        <th>Период</th>
                        <th>Дней</th>
                    </tr>
                </thead>
                <tbody>
                    {% for holiday in holidays %}
                    <tr>
                        <td>{{ holiday.first_day|date:"d.m.Y" }} - {{ holiday.last_day|date:"d.m.Y" }}</td>
                        <td>{{ holiday.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<script>
    window.scheduleData = JSON.parse('{{ calendar|escapejs }}');
    window.month = '{{ month_for_js }}'
</script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}