asgiref==3.9.1
certifi==2025.8.3
Django==5.2.5
django-cors-headers==4.8.0
djangoql==0.18.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-yasg==1.21.10
et_xmlfile==2.0.0
inflection==0.5.1
isort==6.0.1
openpyxl==3.1.5
packaging==25.0
ply==3.11
psycopg2==2.9.10
PyJWT==2.10.1
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
sentry-sdk==2.37.1
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
