services:
  db:
    image: postgres:17.6
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --maxmemory 256mb 
      --maxmemory-policy allkeys-lru
  backend:
    image: kalmmar4uk/lk_project
    env_file: .env
    ports:
      - 8000:8000
    depends_on:
      - db
      - redis
    volumes:
      - static:/static/
  nginx:
    image: kalmmar4uk/lk_project_nginx
    ports:
      - 8000:80
    volumes:
      - static:/staticfiles/
volumes:
  pg_data:
  static:
  redis_data: