{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет сотрудника</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sections.css' %}">
    <link rel="stylesheet" href="{% static 'css/groups_detail.css' %}">
</head>
<body>
    <aside class="sidebar">
        <div class="logo">
            <h2>Кабинет сотрудника</h2>
        </div>
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav-links">
            <li><a href="{% url 'users:profile' user.username %}" class="{% if view_name == 'users:profile' %} active {% endif %}">Профиль</a></li>
            <li><a href="{% url 'users:groups' %}" class="{% if view_name == 'users:groups'%} active  {% endif %}">Группы</a></li>
        </ul>
        {% endwith %}
    </aside>

    <main class="main-content">
        {% include "header.html" %}
        <section class="content" id="content">
            {% block content %}{% endblock %}
        </section>
    </main>
</body>
</html>