<header class="header">
    <div class="user-info">
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0yMCAydjRhMiAyIDAgMCAxLTIgMmEyIDIgMCAwIDAgMiAyYTIgMiAwIDAgMSAyIDJ2NGEyIDIgMCAwIDEtMiAySDZhMiAyIDAgMCAxLTItMnYtNGEyIDIgMCAwIDEgMi0yYTIgMiAwIDAgMCAyLTJhMiAyIDAgMCAxLTItMnYtNGEyIDIgMCAwIDEgMi0yaDEyYTIgMiAwIDAgMSAyIDJ6Ii8+PHBhdGggZD0iTTEyIDEwYTIgMiAwIDEgMCAwLTRhMiAyIDAgMCAwIDAgNHoiLz48cGF0aCBkPSJNMTggMjBhMiAyIDAgMCAwLTItMmEyIDIgMCAwIDEtMi0yYTIgMiAwIDAgMC0yLTJhMiAyIDAgMCAwLTIgMmEyIDIgMCAwIDEtMiAyYTIgMiAwIDAgMC0yIDIiLz48L3N2Zz4=" alt="User">
        <span>{{ user.last_name }} {{ user.first_name|slice:":1" }}</span>
    </div>
    <form action="{% url 'users:logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button class="logout-btn">Выйти</button>
    </form>
</header>