{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section">
    <h2>Мой профиль</h2>
    
        <div class="info-blocks">
            <div class="info-block">
                <h3>Личная информация</h3>
                
                <div class="info-item">
                    <span class="info-label">ФИО:</span>
                    <span class="info-value">{{ employee.last_name }} {{ employee.first_name }}</span>
                </div>
                
                <div class="info-item">
                    <span class="info-label">Должность:</span>
                    <span class="info-value">{{ employee.job_title }}</span>
                </div>
                
                <div class="info-item">
                    <span class="info-label">Группа:</span>
                    <a href="{% url 'users:groups_detail' group.id %}" class="group-pill">
                        <span class="group-icon">👥</span>
                        {{ group.title }}
                        <span class="group-arrow">→</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="info-block">
            <h3>Контактная информация</h3>
            <div class="info-item">
                <span class="info-label">Email:</span>
                <span class="info-value">{{ employee.email }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Телефон:</span>
                <span class="info-value">+7 (123) 456-78-90</span>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <h2>График работы</h2>
    <table>
        <thead>
            <tr>
                <th>Период</th>
                <th>Тип графика</th>
                <th>Время работы</th>
            </tr>
        </thead>
        <tbody>
            {% for work_shift in work_shifts %}
            <tr>
                <td>{{ work_shift.date_start|date:"d.m.Y" }} - {{ work_shift.date_end|date:"d.m.Y" }}</td>
                <td>{{ work_shift.type }}</td>
                <td>{{ work_shift.time_start }} - {{ work_shift.time_end }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="section">
    <h2>Отпуска</h2>
    <table>
        <thead>
            <tr>
                <th>Период</th>
                <th>Тип отпуска</th>
                <th>Статус</th>
                <th>Дней</th>
            </tr>
        </thead>
        <tbody>
            {% for holiday in holidays %}
            <tr>
                <td>{{ holiday.date_start|date:"d.m.Y" }} - {{ holiday.date_end|date:"d.m.Y" }}</td>
                <td>{{ holiday.type }}</td>
                <td><span class="status-badge status-completed">{{ holiday.status }}</span></td>
                <td>{{ holiday.count_day }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}