{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="error-container">
    <div class="error-content error-404">
        <h2 class="error-title">Плановая работа сохранена со стандартными значениями напоминания</h2>
        <p class="error-message">Время напоминания можно изменить в карточке плановой работы</p>
        <a href="{% url 'downtimes:downtime_detail' downtime.id %}" class="detail-btn edit-btn">Изменить плановую работу</a>
        <a href="{% url 'downtimes:downtime' %}" class="detail-btn edit-btn">Плановые работы</a>
    </div>
</div>
{% endblock %}