{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section-btn-back">
    <a href="{% url 'downtimes:downtime' %}" class="back-chevron-btn">
    <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#2c3e50" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
    </a>
</div>
<div class="section">
    <h2>Проведенные работы</h2>

    <div class="downtimes-list">
        {% for downtime in downtimes %}
        <div class="downtime-history-card">
            <div class="downtime-info">
                <div class="downtime-service">
                    {{ downtime.service }}
                </div>
                <div class="downtime-period">
                    {{ downtime.start_downtime|date:"d.m.Y H:i" }} - {{ downtime.end_downtime|date:"d.m.Y H:i" }}
                </div>
                {% if downtime.gsma_employee %}
                <div class="downtime-employee">
                    Сотрудник ГСМАиЦП: {{ downtime.gsma_employee.get_full_name|default:downtime.gsma_employee.username }}
                </div>
                {% endif %}
            </div>
            <div class="downtime-status">
                <a href="{% url 'downtimes:downtime_detail' downtime.id %}?from_history=true">
                    <button class="profile-btn">Подробнее</button>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="empty-state">
            <div class="empty-icon">⏰</div>
            <div class="empty-text">Нет записей о downtimes</div>
            <a href="{% url 'downtimes:added_downtime' %}" class="add-btn">
                <span>+</span>
                Добавить первый downtime
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}